<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTaiKhoanApp.Properties.Settings.QLTKConnectionString"
            connectionString="Data Source=LAPTOP-U8OGNL07\MSSQLSERVER_V001;Initial Catalog=QLTK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>